/* Footer */
.footer {    
    display: flex;
    justify-content: space-around;
    background-color: #232429;
    color: #ffffff;
    height: 250px;
    width: 100%;
}
.footer h2{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.footer-title {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    text-align: center
}
.left {
    height: 100%;
    padding: 0 20px;
    max-width: 33%;
    min-width: 33%;
}
.center {
    height: 100%;
    padding: 0 20px;
    max-width: 33%;
    min-width: 33%;
}
.right {
    height: 100%;
    padding: 0 20px;
    max-width: 33%;
    min-width: 33%;
}
.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: 1.3em;
}
/* Input Footer */
input:focus, textarea:focus, select:focus{
    outline: 1px solid #454851;
    border: none;
}
input, textarea, select {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.input {
    height: 40px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    background-color: #D9D9D9;
    font-size: 1.2em;
}
.select_input {
    height: 30px;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #D9D9D9;
    font-size: 1em;
}
.message_input {
    width: 100%;
    height: 105px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    border-color: #232429;
    resize: none;
    background-color: #D9D9D9;
}
.contactinfo {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button {
    font-size: 1.2em;
    background-color: #195FA5;
    color: white;
    border-radius: 20px;
    padding: 10px 40px;
    border: none;
}
.button:hover {
    cursor: pointer;
    font-size: 1.25em;
}
.button:active {
    transform: translateY(2px);
}
.buttondivtel{
    display: none;
}
.button-to-top {
    display: none;
}
/* Input Footer End */
/* Footer End */
@media screen and (max-width: 991px) {
    /* Footer */
    .footer{
        flex-direction: column;
        height: auto;
    }
    .contactinfo {
        white-space: normal;
    }
    .left{
        max-width: 100%;
    }
    .center{
        max-width: 100%;
    }
    .right{
        max-width: 100%;
    }
    /* Input */
    .buttondivpc{
        display: none;
    }
    .buttondivtel{
        display: block;
        margin: 20px 0px;
    }
    .input{
        width: 100%;
    }
    .button-to-top {
        display: block;
        width: 100%;
        text-align: center;
        background: linear-gradient(180deg, rgba(35,36,41,1) 0%, rgba(30,37,73,1) 100%);
        color: white;
        font-size: 1.6em;
        padding: 20px;
    }
    .button-to-top:hover {
        cursor: pointer;
    }
    /* Input End */
    /* Footer End */
}