@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* début scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1E1E1E;
}

::-webkit-scrollbar-thumb {
    background: #454851;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #195FA5;
}
/* fin scrollbar */

/*Content*/
.content {
    background: #1E1E1E;
    display: flex;
    min-height: calc(100vh - 325px);
}
.circle-arc{
    background: linear-gradient(0deg, rgba(35,36,41,1) 0%, rgba(30,37,73,1) 100%);
    padding: 20px;
    rotate: 180deg;
    width: 250px;
    height: 250px;
    border-color: black;
    border-width: thick;
    border-radius: 100% 0 0;
    display: flex;
}
.circle-text{
    rotate: 180deg;
    color: white;
    font-size: 2.4em;
    padding-top: 20px;
}
.title-mobile{
    display: none;
}
.text {
    margin-top: 30px;
}
.title-textcontent{
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    color: white;
}
.textcontent{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4em;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
    text-align: justify;
    text-align-last: center;
}
.textcontent p{
    margin-top: 1%;
    margin-bottom: 1%;
}
/* Content End */

@media screen and (max-width: 991px) {
    /* Content */
    .content{
        flex-direction: column;
    }
    .title-mobile{
        display: block;
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 1.5em;
        color: white;
        background: linear-gradient(180deg, rgba(35,36,41,1) 0%, rgba(30,37,73,1) 100%);
    }
    /* Circle Arc */
    .circle-arc{
        display: none;
    }
    /* Circle Arc End*/
    /* Content End */
}