@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}


.header {
    background-color: #232429;
    color: #ffffff;
    padding: 10px;
    height: 75px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.backtotop {
    border: none;
    background-color: #26272c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    max-height: 100px;
}

.buttontotop {
    border: none;
    background-color: rgb(45, 46, 52);
    height: 100%;
    width: 100%;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    padding: auto;
    cursor: pointer;
    color: white;
}

.buttontotop:hover {
    background-color: #36373d;
}

.footer {
    background-color: #232429;
    color: #ffffff;
    padding: 10px;
    height: 35vh;
    display: flex;
}

.title {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;

}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.6Sem;
    font-size: 1.37em;
    margin-top: 1.5em;

}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    border-color: blue;
    margin-top: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.6Sem;
    font-size: 1.37em;
    margin-top: 1.5em;
}

.select_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22px;
    width: 225px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: blue;
    margin-top: 10px;
}

.button {
    font-size: 1em;
    background-color: #195FA5;
    color: white;
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: black;
    margin-top: 20px;
    align-self: center;
}

.message_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    width: 350px;
    border-radius: 10px;
    border-color: blue;
}

.content {
    display: flex;
    background-color: #8E8E8E;
    height: 60vh;
}
.redcontent{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 15%;
    margin-right:15%;
    width: 800%;
    height: 90;
    background-color: #4A0000;
    border-radius: 20px;
}
.title-textcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.37em;
    margin-top: 1.5em;
    color: white;
}
.textcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.37em;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    line-break: auto;
    text-align: center
    
}
.arccircle{
    background: rgb(35,36,41);
    background: linear-gradient(0deg, rgba(35,36,41,1) 0%, rgba(30,37,73,1) 100%);
    padding: 10px;
}
.arccircle-1{
    rotate: 180deg;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 100% 0 0;
    border-color: black;
    border-width: thick;
    border-radius: 100% 0 0;
}
.textcircle{
    rotate: 180deg;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.4em;
    padding-right: 15%;
    padding-bottom: 52%;
}
.message_input::placeholder {
    visibility: hidden;
}
.contactinfo {
    margin-top: 20px;
}
.left {
    max-width: 33%;
    min-width: 33%;
    height: 100%;
}

.center {
    max-width: 33%;
    min-width: 33%;
    height: 100%;
    background-color: #2E313E;
    border-radius: 10px;
}

.right {
    max-width: 33%;
    min-width: 33%;
    height: 100%;
}


.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo p {
    font-weight: 700;
    font-size: 2.8em;
    color: #195FA5;
}

.logo img {
    padding-right: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;

}

.lien {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lien_mobile {
    display: none;
}

li {
    padding: 0px 10px;
    display: inline;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #195FA5;
}

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.buttondiv {
    display: flex;
    justify-content: center;
}