@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

/* début gestion container */
.scroll_container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll_section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
/* fin gestion container */

/* début scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1E1E1E;
}

::-webkit-scrollbar-thumb {
    background: #454851;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #195FA5;
}
/* fin scrollbar */

/* début premier container */
.first_content {
    background-image: url("../images/index_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 30px;
    height: calc(100vh - 75px);
    width: 100%;
}

.title {
    font-size: 3.5em;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232429;
    padding: 10px 20px;
    width: 60%;
    max-width: 700px;
    min-width: 300px;
    border-radius: 20px;
}

.search_input {
    background: none;
    border: none;
    font-size: 1.6em;
    width: 100%;
    height: 100%;
    color: #A5A5A5;
}

.search_icons {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.search_button_icon {
    padding-left: 10px;
    cursor: pointer;
}

.search_button {
    background: none;
    border: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}
/* fin premier container */

/* début deuxième container */
.second_section {
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-color: #1E1E1E;
}

.second-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.arrow_top {
    padding-top: 30px;
}

.second_title {
    font-size: 2.5em;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
}

/* début slider */
.slider-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}

.slider-width {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}

.item {
    position: relative;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 20px;
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.item img {
    position: absolute;
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

.item-bottom {
    border-radius: 20px;
    padding: 20px;
    background-color: #232429;
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-bottom-title {
    display: flex;
}

.item-bottom-title img {
    position: relative;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
}

.item-bottom-title h2 {
    line-height: 40px;
    font-size: 35px;
    font-weight: 550;
    font-style: bold;
    padding-left: 10px;
}

.item-bottom p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.btn {
    border: none;
    outline: none;
    font-size: 20px;
    margin: 0 40px;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
}
.slider-mobile {
    display: none;
}
/* fin slider */
/* fin deuxième container */

@media screen and (max-width: 991px) {
    /* début gestion container */
    .scroll_container {
        height: 100%;
        overflow-y: auto;
        scroll-snap-type: none;
    }
    .scroll_section {
        height: 100%;
        scroll-snap-align: none;
        scroll-snap-stop: none;
    }
    /* fin gestion container */
    /* début premier container */
   .title {
        font-size: 2.5em;
    }
    .search_bar {
        width: 80%;
    }
    /* fin premier container */
    /* début deuxième container */
    .second_section .title {
        margin: 20px 0;
    }
    /* début slider */
    .slider-container {
        margin: 20px 0;
    }
    .btn {
        margin: 0 10px;
    }
    /* fin slider */
    /* fin deuxième container */
}

@media screen and (max-width: 500px) {
    /* début slider */
    .slider-width {
        display: none;
    }
    .slider-container {
        height: 100%;
    }
    .slider-mobile {
        color: white;
        display: flex;
        text-align: center;
        height: 100%;
    }
}

/* media querry pour les écrans pas asser haut */
@media screen and (max-height: 875px) {
    /* début gestion container */
    .scroll_container {
        height: 100%;
        overflow-y: auto;
        scroll-snap-type: none;
    }
    .scroll_section {
        height: 100%;
        scroll-snap-align: none;
        scroll-snap-stop: none;
    }
    /* fin gestion container */
    /* début premier container */
    .title {
        font-size: 2.5em;
    }
    /* fin premier container */
    /* début deuxième container */
    .second_section .title {
        margin: 20px 0;
    }
}

@media screen and (max-height: 650px) {
    .second-content {
        min-height: 100vh;
    }
}
    