@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */
.header {
    background-color: #232429;
    color: #ffffff;
    padding: 10px;
    height: 75px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
}
.logo p {
    font-weight: 700;
    font-size: 2.8em;
    color: #195FA5;
}
.logo img {
    padding-right: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}
.lien {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_button, .menu_button + label  {
    display: none;
}
li {
    padding: 0px 10px;
    display: inline;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #195FA5;
}
/* Header End */
/*Content*/
.content {
    background: rgb(35,36,41);
    background: linear-gradient(270deg, rgba(35,36,41,1) 0%, rgba(30,37,73,1) 100%);
    display: flex;
    height: 110%;
}
.fonde2001{
    display: none;
}
.redcontent{
    max-height: auto;
    height: auto;
    margin: 4% 2% 2% 1%;
    border-radius: 20px;
}
.title-textcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.37em;
    color: white;
}
.textcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.37em;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    line-break: auto;
    text-align: center;
    
}
.arccircle{
    background: rgb(35,36,41);
    background: linear-gradient(0deg, rgba(35,36,41,1) 0%, rgba(30,37,73,1) 100%);
    padding: 10px;
}
.arccircle-1{
    rotate: 180deg;
    width: 250px;
    height: 250px;
    -webkit-border-radius: 100% 0 0;
    border-color: black;
    border-width: thick;
    border-radius: 100% 0 0;
}
.textcircle{
    rotate: 180deg;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.4em;
    padding-right: 15%;
    padding-bottom: 52%;
}
/* Content End */
/* Footer */
.footer {
    display: flex;
    background-color: #232429;
    color: #ffffff;
}
.title {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
}
.left {
    max-width: 33%;
    min-width: 33%;
    height: 100%;
}
.center {
    max-width: 33%;
    min-width: 33%;
    height: 100%;
    border-radius: 10px;
}
.right {
    max-width: 33%;
    min-width: 33%;
    height: 100%;
}
.textfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.9em;
    font-size: 1.37em;
}
/* Input Footer */
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    margin-top: 10px;
}
.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.6Sem;
    font-size: 1.37em;
    margin-top: 1.5em;
}
.select_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22px;
    width: 225px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: blue;
}
.message_input::placeholder {
    visibility: hidden;
}
.contactinfo {
    margin-top: 20px;
    align-items: center;
}
.buttontotop{
    display: none;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: #195FA5;
    color: white;
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: black;
    margin-top: 20px;
    align-self: center;
}
.message_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    width: 350px;
    border-radius: 10px;
    border-color: blue;
}
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.buttondivpc {
    display: flex;
    justify-content: center;
}
.buttondivtel{
    display: none;
}
/* Input Footer End */
/* Footer End */

@media screen and (max-width: 991px) {
    /* Header */
    .menu_button, .menu_button + label  {
        display: block;
    }
    .menu_button + label {
        cursor: pointer;
    }
    .menu_button + label .close {
        display: none;
    }
    .menu_button + label .burger {
        display: block;
    }
    .menu_button:checked + label .close {
        display: block;
    }
    .menu_button:checked + label .burger {
        display: none;
    }
    .menu {
        background-color: #232429;
        position: absolute;
        top: 75px;
        right: 0px;
        border-bottom-left-radius: 10px;
        padding: 0px 0px 10px 10px;
        display: none;
    }
    .menu_button {
        opacity: 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    li {
        padding: 10px;
        font-size: 1.5em;
        text-align: right;
        border-top: 1px solid #195FA5;
    }
    .menu_button:checked ~ .menu {
        display: block;
    }
    /* Header End */
    /* Content */
    .content{
        height: auto;
        flex-direction: column;
    }
    .fonde2001{
        display: block;
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 1.5em;
        color: white;
    }
    .redcontent {
        flex-direction: column;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Circle Arc */
    .circle{
        display: none;
    }
    /* Circle Arc End*/
    /* Content End */
    /* Footer */
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .left{
        max-height: 100%;
        max-width: 100%;
    }
    .center{
        max-height: 100%;
        max-width: 100%;
    }
    .right{
        max-height: 100%;
        max-width: 100%;
    }
    .textfooter{
        text-align: center;
        line-break: auto;
        margin-top: 0em;

    }
    /* Input */
    .buttondivpc{
        display: none;
    }
    .buttondivtel{
        display: flex;
    }
    .buttontotop {
        border: none;
        background-color: rgb(45, 46, 52);
        width: 100%;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        cursor: pointer;
        color: white;
    }
    .input{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        border-color: black;
        margin-top: 20px;
        align-self: center;
    }
    /* Input End */
    /* Footer End */;
}