@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    overflow: hidden;
}

body {
    background-image: url("images/unknown.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}

/* debut header */

.header {
    background-color: #232429;
    color: #ffffff;
    padding: 10px;
    max-height: 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
} 

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-weight: 700;
    font-size: 55px;
    color: #195FA5;
    text-align: left;
}

.logo img {
    padding-right: 10px;
    width: auto;
    height: auto;
    max-height: 80px;
    object-fit: cover;
    display: block;
    
}

.lien {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

li {
    padding: 10px;
    display: inline;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
}

/* fin header */
/* debut page */

a, label {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #195FA5;
}

.WhithoutHeader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square {
    background-color: #1E1E1E;
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
    width: 45%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.divform {
    height: 100%;
    width: 100%;
}

.form {
    height: 100%;
    width: 100%;
}

.param {
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
}

.log {
    border: 1px solid #1E1E1E;
    border-radius: 10px;
    background-color: #195FA5;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 7px;
}

.input {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 700;
}

.souvenir {
    margin-bottom: 10px;
}

.href {
    font-size: large;
    font-weight: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}


 


