* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
}

.header {
    background-color: #232429;
    color: #ffffff;
    padding: 10px;
    max-height: 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
} 

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-weight: 700;
    font-size: 55px;
    color: #195FA5;
    text-align: left;
}

.logo img {
    padding-right: 10px;
    width: auto;
    height: auto;
    max-height: 80px;
    object-fit: cover;
    display: block;
    
}

.lien {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

li {
    padding: 10px;
    display: inline;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #195FA5;
}