<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="css/style_achat.css">
    <link rel="stylesheet" href="css/style_header.css">
    <link rel="stylesheet" href="css/style_footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YamisAuto | Achat</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/" class="logo">
            <img src="images/logo.svg" alt="logo">
            <p>YamisAuto</p>
            </a>
        </div>
    <div class="lien">
        <input class="menu_button" type="checkbox" id="menu_button">
        <label for="menu_button">
            <img src="images/menu.svg" alt="menu" class="burger">
            <img src="images/close.svg" alt="close" class="close">
        </label>
        <nav class="menu">
            <ul>
            <li><a href="/Achat">Achat</a></li>
            <li><a href="/">Location</a></li>
            <li><a href="/QuiSommesNous">Qui sommes nous</a></li>
            <li><a href="/MonCompte">Mon compte</a></li>
            </ul>
        </nav>
    </div>
    </div>
    <div class="content">
        <h1 class="title">Page d'achat</h1>
        <form action="/" class="search_bar">
            <input type="text" class = "search_input" placeholder="Chercher par marque, modèle, catégorie...">
            <div class="search_icons">
                <img src="images/rod.svg" alt="rod" class="rod">
                <button type="submit" class="search_button">
                    <img src="images/search.svg" alt="search" class="search_button_icon">
                </button>
            </div>
        </form>
        <div class="cards">
            {{range .}}
            <div class="item">
                <img src={{.Image}} alt="ford mustang">
                <div class = "bottom-item">
                    <div class="info">
                        <div class="firstgroup">
                            <p class="name">{{.Brand}}</p>
                            <p class="km">{{.Kilometers}} KM</p>
                        </div>
                        <p class="price">{{.Price}} €</p>
                    </div>
                    <div class="details" onclick="openPopUp(this)">
                        <p>Voir plus de détails</p>
                    </div>
                </div>
            </div>
            <div class="pop-up-blur">
                <div class="pop-up">
                    <img src="{{.Image}}" alt="ford mustang">
                    <div class="bottom-pop-up">
                        <p>Fiche technique</p>
                        <div class="main-info-pop-up">
                            <div class="first-line">
                                <h1>{{.Brand}}</h1>
                                <h1>{{.Price}} €</h1>
                            </div>
                            <div class="second-line">
                                <p>{{.Kilometers}} KM</p>
                                <p>{{.Year}}</p>
                            </div>
                        </div>
                        <div class="secondary-info-pop-up">
                            <p>Moteur : <span class="bolder">{{.Engine}}</span></p>
                            <p>Vitesse de pointe : <span class="bolder">{{.MaxSpeed}} km/h</span></p>
                        </div>
                        <input class="pop-up-button" type="submit" value="Fermer" onclick="closePopUp(this)">
                    </div>
                </div> 
            </div>
            {{end}}
            <script src="script/car.js"></script>
        </div>
    </div>
    <div class ="footer">
        <div class="left">
            <div class="footer-title">
                <h2>Contact</h2>
            </div>
            <div class="footer-text">
                <p class="contactinfo">Adresse : 1 rue de la paix, 75000 Paris</p>
                <p class="contactinfo">Téléphone : 01 23 45 67 89</p>
                <p class="contactinfo">© 2022 YamisAuto</p>
                <form action="">
                <button class="button buttondivpc" type="submit">Envoyer</button>
            </div>
        </div>
        <div class="center">
            <div class="footer-title">
                <h2>Vos informations</h2>
            </div>
            <div class="footer-text">
                    <input class="input" type="text" name="name" placeholder="Votre Nom" required>
                    <input class="input" type="text" name="firstname" placeholder="Votre Prénom" required>
                    <input class="input" type="text" name="mail" placeholder="Votre adresse mail" required>
            </div>
        </div>
        <div class="right">
            <div class="footer-title">
                <h2>Votre message</h2>
            </div>
            <div class="footer-text">
                <select class="select_input" name="message" id="message" required>
                    <option value="">Sélectionnez un type de message</option>
                    <option value="support">Support</option>
                    <option value="question">Question</option>
                    <option value="suggestion">Suggestion</option>
                    <option value="autre">Autre</option>
                </select>
                <textarea class="message_input" type="text" name="message" placeholder="Entrez votre message" required></textarea>
                <button class="button buttondivtel" type="submit">Envoyer</button>
                </form>
            </div>
        </div>
        <a class="button-to-top">ᐱ Retour en Haut ᐱ</a>
        <script src="script/scroll.js"></script>
    </div>
</body>
</html>