<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_header.css">
    <link rel="stylesheet" href="/css/style_MonCompte.css">
    <title>Erreur</title>
</head>
<body id = "erreur">
    <div class="header">
        <div class="logo">
            <a href="/" class="logo">
            <img src="images/icones/logo.svg" alt="logo">
            <p>YamisAuto</p>
            </a>
        </div>
    <div class="lien">
        <input class="menu_button" type="checkbox" id="menu_button">
        <label for="menu_button">
            <img src="images/menu.svg" alt="menu" class="burger">
            <img src="images/close.svg" alt="close" class="close">
        </label>
        <nav class="menu">
            <ul>
            <li><a href="/Achat">Achat</a></li>
            <li><a href="/">Location</a></li>
            <li><a href="/QuiSommesNous">Qui sommes nous</a></li>
            <li><a href="/Connexion">Mon compte</a></li>
            </ul>
        </nav>
    </div>
    </div>
    <div class = "WhithoutHeader">
        <div class = "square" >
            <p class = "titleErreur">Erreur d'inscription</p>
            <p class = "text">Il semberait que vous possédiez déjà un compte. <br>
                Veuillez vous reconnecter avec celui ci.</p>
            <div class = "login" style = "justify-content: center;">
                <a href="/Connexion">Se connecter</a>
            </div>
        </div>
    </div>
</body>
</html>