<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="css/style_MonCompte.css">
    <link rel="stylesheet" href="css/style_header.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icones/logo.ico" />
    <title>Mon Compte</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/" class="logo">
            <img src="images/icones/logo.svg" alt="logo">
            <p>YamisAuto</p>
            </a>
        </div>
    <div class="lien">
        <input class="menu_button" type="checkbox" id="menu_button">
        <label for="menu_button">
            <img src="images/menu.svg" alt="menu" class="burger">
            <img src="images/close.svg" alt="close" class="close">
        </label>
        <nav class="menu">
            <ul>
            <li><a href="/Achat">Achat</a></li>
            <li><a href="/">Location</a></li>
            <li><a href="/QuiSommesNous">Qui sommes nous</a></li>
            <li><a href="/MonCompte">Mon compte</a></li>
            </ul>
        </nav>
    </div>
    </div>
    <div class = "WhithoutHeader">
        <div class = "square">
            <h1 class = "title">Mon Compte</h1>
            <form class = "form">
                <div class = "inputs">
                    <input class = "param" type="email" name="email" placeholder="E-mail" required>
                    <input class = "param" type="password" name="password" placeholder="Mot de passe" required>
                </div>
                <div class = "submit">
                    <input class = "login" type="submit" value="Se connecter">
                </div>
            </form>
            <div class = "links">
                <a href = "/Inscription">S'inscrire</a>
                <a href = "/">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</body>
</html>