<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/icones/logo.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_quisommesnous.css">
    <link rel="stylesheet" href="css/style_header.css">
    <link rel="stylesheet" href="css/style_footer.css">
    <title>YamisAuto | Qui Sommes Nous</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/" class="logo">
            <img src="images/icones/logo.svg" alt="logo">
            <p>YamisAuto</p>
            </a>
        </div>
    <div class="lien">
        <input class="menu_button" type="checkbox" id="menu_button">
        <label for="menu_button">
            <img src="images/menu.svg" alt="menu" class="burger">
            <img src="images/close.svg" alt="close" class="close">
        </label>
        <nav class="menu">
            <ul>
            <li><a href="/Achat">Achat</a></li>
            <li><a href="/">Location</a></li>
            <li><a href="/QuiSommesNous">Qui sommes nous</a></li>
            <li><a href="/MonCompte">Mon compte</a></li>
            </ul>
        </nav>
    </div>
    </div>
    <div class="content">
        <div class="circle">
            <div class="circle-arc">
                <p class="circle-text">
                    Fondé en 2001
                </p>
            </div>
        </div>
        <div class="title-mobile">
            <h1>Fondé en 2001</h1>
        </div>
        <div class="text">
            <div class="title-textcontent">
                <h1>Notre Histoire</h1>
            </div>
            <div class="textcontent">
                <p>
                    YamisAuto a été fondée en 2001 par un groupe de passionnés de voitures de luxe et de collection. Ils avaient l'idée de créer une entreprise de location de voitures de prestige pour répondre à la demande croissante de clients qui voulaient louer des véhicules de qualité pour des événements spéciaux ou simplement pour se faire plaisir.
                </p>
                <p>
                    Le groupe a commencé par acheter quelques voitures de luxe et de collection et a lancé YamisAuto avec un petit budget. Leur entreprise a rapidement attiré l'attention de clients à travers le pays grâce à sa sélection de véhicules de qualité et à son excellent service client.
                </p>
                <p>
                    Au fil des ans, YamisAuto a continué à se développer et à s'étendre, en ajoutant de nouvelles voitures à sa flotte et en ouvrant de nouvelles succursales dans d'autres villes. L'entreprise a également lancé plusieurs initiatives innovantes pour améliorer l'expérience de ses clients, telles que la mise en place d'un système de réservation en ligne facile à utiliser et la création d'un programme de fidélité pour récompenser les clients réguliers.
                </p>
                <p>
                    Aujourd'hui, YamisAuto est reconnue comme l'une des meilleures entreprises de location de voitures de luxe et de collection du pays, offrant une expérience de location de qualité supérieure à ses clients grâce à sa sélection de véhicules exceptionnels et à son service attentionné
                </p>
            </div>
            
        </div>
    </div>
    <div class ="footer">
        <div class="left">
            <div class="footer-title">
                <h2>Contact</h2>
            </div>
            <div class="footer-text">
                <p class="contactinfo">Adresse : 1 rue de la paix, 75000 Paris</p>
                <p class="contactinfo">Téléphone : 01 23 45 67 89</p>
                <p class="contactinfo">© 2022 YamisAuto</p>
                <form action="">
                <button class="button buttondivpc" type="submit">Envoyer</button>
            </div>
        </div>
        <div class="center">
            <div class="footer-title">
                <h2>Vos informations</h2>
            </div>
            <div class="footer-text">
                    <input class="input" type="text" name="name" placeholder="Votre Nom" required>
                    <input class="input" type="text" name="firstname" placeholder="Votre Prénom" required>
                    <input class="input" type="text" name="mail" placeholder="Votre adresse mail" required>
            </div>
        </div>
        <div class="right">
            <div class="footer-title">
                <h2>Votre message</h2>
            </div>
            <div class="footer-text">
                <select class="select_input" name="message" id="message" required>
                    <option value="">Sélectionnez un type de message</option>
                    <option value="support">Support</option>
                    <option value="question">Question</option>
                    <option value="suggestion">Suggestion</option>
                    <option value="autre">Autre</option>
                </select>
                <textarea class="message_input" type="text" name="message" placeholder="Entrez votre message" required></textarea>
                <button class="button buttondivtel" type="submit">Envoyer</button>
                </form>
            </div>
        </div>
        <a class="button-to-top">ᐱ Retour en Haut ᐱ</a>
        <script src="script/scroll.js"></script>
    </div>

</body>
</html>