<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="css/style_header.css">
    <link rel="stylesheet" href="css/style_footer.css">
    <link rel="stylesheet" href="/css/style_research.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/" class="logo">
            <img src="/images/logo.ico" alt="logo">
            <p>YamisAuto</p>
            </a>
        </div>
        <div class="lien">
            <input class="menu_button" type="checkbox" id="menu_button">
            <label for="menu_button">
                <img src="/images/menu.svg" alt="menu" class="burger">
                <img src="/images/close.svg" alt="close" class="close">
            </label>
            <nav class="menu">
                <ul>
                <li><a href="/Achat">Achat</a></li>
                <li><a href="/">Location</a></li>
                <li><a href="/QuiSommesNous">Qui sommes nous</a></li>
                <li><a href="/MonCompte">Mon compte</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class = "WithOutHeader">
        <div class = "menu">
            <p class = "title">
                Resultats de la recherche
            </p>
            <form action="/" class="search_bar">
                <input type="text" class = "search_input" placeholder="Chercher par marque, modèle, catégorie...">
                <div class="search_icons">
                    <img src="/images/rod.svg" alt="rod" class="rod">
                    <button type="submit" class="search_button">
                        <img src="/images/search.svg" alt="search" class="search_button_icon">
                    </button>
                </div>
            </form>
        </div>
        <div class = "firstline">
            <div class = "img1">
                <div class = "background">
                    
                </div>
                <div class = "text">
                    <p class = "titlearticle">Audi A3</p>
                    <p class = "price">Prix : 20 000€</p>
                    <p class = "description">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                    <button class = "button">Acheter</button>
                </div>
            </div>
            <div class = "img2">
                
            </div>
            <div class = "img3">
                
            </div>
            <div class = "img4">
                
            </div>
            <div class = "img5">

            </div>
            <div class = "img6">
                
            </div>
            <div class = "img7">
                
            </div>
            <div class = "img8">
            
            </div>
        </div>
    </div>
</body>
</html>